body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: rgb(170, 224, 120);
    border: 2px solid black;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

#Title {
    font-size: 22px;
    color: white;
    font-weight: bold;
    font-family: sans-serif, 'Noto Sans';
    margin: 0;
}

.nav-item {
    border: 1px solid black;
    font-family: sans-serif;
}

main {
    flex: 1;
    display: flex;
    margin: 0;
}

.main_main1 {
    flex-grow: 1;
    padding: 15px;
    border: 1px solid black;
}

.main_side1 {
    width: 15%;
    max-width: 300px;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid black;
}

footer {
    height: 5vh;
    border-top: 1px solid black;
    font-size: 11px;
    text-align: center;
    padding: 5px 0;
}
